/_build/
*.install
*.install.lock

*.exe
*.bc
*.run
*.native
*.byte
*.o
*.cmx
*.cmi
*.cmo
*.cmt
*.cmti
*.annot

*.a
*.so
*.cmxa
*.cmxs

*.swp
*.swo
*.bak
*.tmp
*~
*.opam
.opam-switch/

*.log
*.stackdump

/.vscode/
/.idea/
/*.merlin

_opam/

temp*
